/* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */

/* wygląd głównego elementu - ol */
ol {
  list-style-type:none;
  padding:10px;
  margin:0;
  background-color:#FFF;
  font-size:18px;
  height:2em;
  line-height:2em;
  text-align:center;
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
ol a {

  display:block;
  text-decoration:none;
  color:#000;
  padding:0 5px;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
ol > li {
  float:left;

  width:150px;
  margin-left:1px;
  background-color:#5AB09A;
  height:2em;
}

/* wygląd elementu - li - pierwszego dziecka elementu - ol */
ol > li:first-child {
  margin-left:0;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover {
  background-color:#397062;
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > a {
  color:#09C;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > ul {
  display:block;
  font-size:14px;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
ol > li > ul {
  display:none;
  border-style: double;
  border-width: 2px;
  list-style-type:none;
  padding:8px;
  margin:0;
}

/* wygląd elementu - li - w części rozwijanej */
ol > li > ul > li {
  position:relative;
  background-color:#7AF0D3;
}
ol > li > ul > li> ul {
  display:none;
}

ol > li > ul > li> ul > li {
  position:relative;
  background:linear-gradient(to right, red, orange, yellow, lime, blue, purple, fuchsia);
  color:#FFC0CB;
}
ol > li > ul > li> ul > li>a {
  border-top:1px solid #FFF;
    font-size:14px;
}

ol > li > ul > li:hover:active> ul  {
  background-color:#DDD;
display: block;
      list-style-type:none;
}
/* wygląd elementu - a - w części rozwijanej */
ol > li > ul > li > a {
  border-top:1px solid #FFF;
    font-size:14px;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
ol > li > ul > li:hover {
  background-color:#DDD;
}

/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol > li > ul > li:hover > a {
  color:#09C;
}
/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol > li > ul > li:hover > a:hover {
  background-color:#81FCDE;
  color:#6DD6BC;
  border-style: dotted;

}
ol > li > ul > li:hover > a:visited {
  color:	#FF0080;


}
